<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="config" default="$(find lightning)/config/default.yaml" />
    <arg name="input_bag" default="" />
    
    <!-- Lightning SLAM Offline Node -->
    <node name="lightning_slam_offline" pkg="lightning" type="run_slam_offline" output="screen">
        <param name="config" value="$(arg config)" />
        <param name="input_bag" value="$(arg input_bag)" />
    </node>

</launch>
